.App {
  float: none;
  margin: 0 auto;
}

.Buttons {
  text-align: center;
  display: contents;
  margin: 0;
}

.Buttons .btn-secondary {
  margin: 0 5% !important;
}

.form-group {
  margin-bottom: 1px !important;
}
